@import 'variables.scss';
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;700&display=swap');

html {
  min-height: 100vh;
  body {
    font-family: 'Poppins', sans-serif;
    background-color: $white;
    background-image: repeating-linear-gradient(-20deg,$blue, $blue 2px, transparent 0, transparent 25px),
                      repeating-linear-gradient(70deg,$blue, $blue 2px, transparent 0, transparent 25px);
  }
  button, p, h1, h4, h5 {
    font-family: 'Noto Sans JP', sans-serif;
  }
  .container {
    padding-top: 76.28px;
  }
}
