@import 'variables.scss';
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;700&display=swap');

html {
  min-height: 100vh;
  body {
    font-family: 'Poppins', sans-serif;
    background-color: $white;
    .container {
      padding-top: 76.28px;
      max-width: $main-width;
      margin: 0 auto;
    }
  }
}
