// Colors
$white: #2C2C2C; //#FCFCFC;
$black:#FCFCFC;// #2C2C2C;
$blue: #6666ff;
$gray: #888;
$green: #55dd11;

// breakpoints
$tablet-width: 768px;

// main width
$main-width: 1200px;

// font-weight
$font-light: 100;
$font-medium: 300;
$font-medium-bold: 500;
$font-bold: 700;
