// Colors
$white: #fff;
$black: #000;
$blue: #6666ff;
$gray: #888;

// breakpoints
$tablet-width: 768px;

// main width
$main-width: 1200px;

// font-weight
$font-light: 100;
$font-medium: 300;
$font-medium-bold: 500;
$font-bold: 700;
