// Colors
$black: #202026; //#FCFCFC;
$white: #FFFFFF;// #2C2C2C;
$blue: #6666ff;
$gray: rgba(255, 255, 255, 0.5);
$green: rgba(0, 186, 188, 1);

// breakpoints
$tablet-width: 768px;

// main width
$main-width: 1200px;

// font-weight
$font-light: 100;
$font-medium: 300;
$font-medium-bold: 700;
$font-bold: 700;
